





/* ?gg slider starts here */
.slider {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 500px;
    display: flex;
    animation: 10s sliderimage 1s;
    animation-iteration-count: infinite;
    animation-delay: 5s all;
    animation-timing-function: ease-in-out 7s all; 
   
}

/* We have to set display: none;
  If not, all of our images would 
  be visible at the same time */
.imgs_slides input {
    display: none;
}

.slide {
    width: 100%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 500px;
}


/* We have to set display: none;
  If not, all of our images would 
  be visible at the same time */

.slide {
    width: 100%;
    transition: 2s;
} 

 .slide img {
    width:100%;
    height: 500px;

}

/* css for slide navigation */
.navigation {
    position: absolute;
    width: 100%;
    margin-top: 15px;
    
    display: flex;
    justify-content: center;
}

.navigation-button {
    border: 2px solid #de6a23;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-button:not(:last-child) {
    margin-right: 40px;
}

.navigation-button:hover {
    background: #de236b;
    animation-play-state: paused;
}


#radio1:checked~.first {
    margin-left: 0;
    
}

#radio2:checked~.first {
    margin-left: -100%;
    /* animation-play-state: paused; */
}

#radio3:checked~.first {
    margin-left: -200%;
    /* animation-play-state: paused; */
}

#radio4:checked~.first {
    margin-left: -300%;
    /* animation-play-state: paused; */
}

#radio5:checked~.first {
    margin-right: -400%;
    /* animation-play-state: paused; */
}




/* ?animation part start here */
/* @keyframes sliderimage{
    0%
    {   margin-left: 0;  }
    25%
    { margin-left: -100%; }
    50%
    {  margin-left: -200%; }
    75%
    {  margin-left: -300% }
    100%
    {  margin-left: -400% }


}  */